{% extends 'point/layout.html' %}

{% block head %}

{% endblock %}

{% block main %}
    <div class="">
        <div class="box-div">
            <h3>Send a correction</h3>
            <div class="make-correction">
                <div class="input-info">
                    <p>Date</p>
                    <input type="date" name="date" id="date-correction" required>
                </div>
                <div class="input-info">
                    <p>Department</p>
                    <select name="department" id="department-correction">
                        <option value="0">Select</option>
                        <option value="D">DEV</option>
                        <option value="S">SUP</option>
                        <option value="F">Financeiro</option>
                        <option value="Q">Comercial</option>
                    </select>
                </div>
                <div class="input-info">
                    <p>Type</p>
                    <select name="types" id="types-correction">
                        <option value="0">Select</option>
                        <option value="E">Entry</option>
                        <option value="P">Pause</option>
                        <option value="R">Return</option>
                        <option value="Q">Exit</option>
                    </select>
                </div>        
                <div class="input-info">
                    <p>Correct time</p>
                    <input type="time" name="time" id="time-correction" required>
                </div>
                <div class="input-info">
                    <p>Motives</p>
                    <select name="motives" id="motives-correction">
                        <option value=0>Select a reason</option>
                        <option value="1">Esqueceu de bater o ponto</option>
                        <option value="2">Estava sem energia</option>
                        <option value="3">Atestado</option>
                    </select>
                </div>
                <div class="btn-green" id="send-correction">
                    Enviar
                </div>  
            </div>
            <label style="font-size: 14px; color: grey;">Preencha os campos para enviar um pedido de correção e aguarde um administrador da empresa deferir o pedido.</label>
        </div>
        <div class="box-div" style="padding-right: 5px;">
            <h3>Corrections</h3>
            <div class="corrections-history">
                <div class="tamanho flex corrections-header">
                    <p>Date</p>
                    <p>Type</p>
                    <p>Correct time</p>
                    <p>Status</p>
                </div>
                    <div class="corrections-all-itens">
                    {% for item in corrections %}
                    
                        <div class="tamanho flex item-correction">
                            <p>{{item.day}}/{{item.month}}/{{item.year}}</p>
                            
                            {% if item.type == 'E' %}
                                <p >Entry</p>
                            {% endif %}
                            {% if item.type == 'P' %}
                                <p>Pause</p>
                            {% endif %}
                            {% if item.type == 'R' %}
                                <p>Return</p> 
                            {% endif %} 
                            {% if item.type == 'Q' %} 
                                <p>Exit</p> 
                            {% endif %}

                            <p>{{item.time}}</p>
                            
                            {% if item.status == 'P' %}
                                <div class="flex">
                                    <div class="status-icon pending"></div>
                                    <span>pending</span>
                                </div>
                                <span class="btn-cancel-correction material-symbols-outlined" data-id="{{item.id}}">backspace</span>      
                            {% endif %}
                            {% if item.status == 'A' %}
                                <div class="status-icon approved"></div>
                                <span>approved</span>
                            {% endif %}
                            {% if item.status == 'R' %}
                                <div class="status-icon refused"></div>
                                <span>refused</span>
                            {% endif %}  
                        </div>
                    {% empty %}
                        <div style="padding: 15px;">not yet.</div>
                    {% endfor %}
                <div>
            </div>
        </div>
{% endblock %}

{% block body %}

{% endblock %}